{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="flex-col md:flex-row md:flex">
        <div class="w-full md:w-1/2">
            <p>
                Now you can visit
                <a href="{{ app.request.schemeAndHttpHost ~'/push' }}"
                   target="_blank"
                   class="btn btn-link btn-sm ">
                    {{ app.request.schemeAndHttpHost~'/push' }}
                </a>
                to test it
            </p>
            <div id="mercure_message">

            </div>
        </div>
        <div class="w-full md:w-1/2"
             data-controller="chat"
             data-chat-url-value="http://127.0.0.1/.well-known/mercure?topic=chat"
        >
            <div>
                Or you can test chat, your username is : <span data-chat-target="username"></span>
            </div>
            <div class="my-3">
                <input type="text"
                       class="input input-sm border border-base-200"
                       placeholder=""
                       data-chat-target="message">
                <button class="btn btn-sm"
                        type="button"
                        data-action="chat#sendMessage"
                >
                    send
                </button>
            </div>
            <div data-chat-target="messageArea">

            </div>
        </div>
    </div>
    <script>
        const eventSource = new EventSource("{{ mercure('books')|escape('js') }}");
        const dom = document.querySelector('#mercure_message')
        console.log(dom)
        eventSource.onmessage = event => {
            // Will be called every time an update is published by the server
            console.log(JSON.parse(event.data));
            let message = JSON.parse(event.data);
            dom.insertAdjacentHTML('afterbegin', '<p>' + message.status + '</p>')
        }
    </script>
{% endblock %}

